* text=auto !eol
/AUTHORS -text
/BSD-LBNL-License.doc -text
/CMakeLists.txt -text
/COPYING -text
/INSTALL -text
/Makefile -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/README_EN.txt -text
/TODO -text
/aclocal.m4 -text
/changelog.txt -text
/config.h -text
/config.h.in -text
config/Makefile -text
config/Makefile.am -text
config/Makefile.in -text
config/autoconf.h -text
config/autogen.sh -text
config/config.guess -text
config/config.sub -text
config/depcomp -text
config/install-sh -text
config/ltmain.sh -text
config/makedist.sh -text
config/missing -text
config/mkinstalldirs -text
/configure -text
/configure.ac -text
/configure.ac.orig -text
docs/Makefile -text
docs/nine-two-sum.eps -text
docs/nine-two-sum.fig -text
docs/normal_sum_prod.eps -text
docs/normal_sum_prod.fig -text
docs/qd.bib -text
docs/qd.pdf -text
docs/qd.tex -text
docs/qd_add.eps -text
docs/qd_add.fig -text
docs/qd_add_proof.eps -text
docs/qd_add_proof.fig -text
docs/qd_add_qd_d.eps -text
docs/qd_add_qd_d.fig -text
docs/qd_mul_accum.eps -text
docs/qd_mul_accum.fig -text
docs/qd_mul_qd_d.eps -text
docs/qd_mul_qd_d.fig -text
docs/quick-two-sum.eps -text
docs/quick-two-sum.fig -text
docs/six-three-sum.eps -text
docs/six-three-sum.fig -text
docs/three-sum-2.eps -text
docs/three-sum-2.fig -text
docs/three-sum-3.eps -text
docs/three-sum-3.fig -text
docs/three-sum.eps -text
docs/three-sum.fig -text
docs/two-prod.eps -text
docs/two-prod.fig -text
docs/two-sum.eps -text
docs/two-sum.fig -text
fortran/Makefile -text
fortran/Makefile.am -text
fortran/Makefile.in -text
fortran/Makefile.sample -text
fortran/dd_timer.f -text
fortran/ddext.f -text
fortran/ddext.mod -text
fortran/ddmod.f -text
fortran/ddmodule.mod -text
fortran/f_dd.cpp -text
fortran/f_qd.cpp -text
fortran/main.cpp -text
fortran/qd_timer.f -text
fortran/qdext.f -text
fortran/qdext.mod -text
fortran/qdmod.f -text
fortran/qdmodule.mod -text
fortran/second.f -text
fortran/second.f.in -text
fortran/tquaderq.f -text
fortran/tquadgsq.f -text
fortran/tquadgsq2d.f -text
fortran/tquadtsq.f -text
fortran/tquadtsq2d.f -text
fortran/zz_timer.f -text
include/Makefile -text
include/Makefile.am -text
include/Makefile.in -text
include/qd/bits.h -text
include/qd/c_dd.h -text
include/qd/c_qd.h -text
include/qd/dd_inline.h -text
include/qd/dd_real.h -text
include/qd/fpu.h -text
include/qd/inline.h -text
include/qd/qd_config.h -text
include/qd/qd_config.h.in -text
include/qd/qd_inline.h -text
include/qd/qd_real.h -text
/libtool -text
m4/ax_cxx_clock_gettime.m4 -text
m4/ax_cxx_copysign.m4 -text
m4/ax_cxx_fc_lib.m4 -text
m4/ax_cxx_fma.m4 -text
m4/ax_cxx_isfinite.m4 -text
m4/ax_cxx_isinf.m4 -text
m4/ax_cxx_isnan.m4 -text
m4/ax_f90_module_flag.m4 -text
m4/ax_f90_module_style.m4 -text
m4/ax_fc_etime.m4 -text
m4/libtool.m4 -text
m4/ltoptions.m4 -text
m4/ltsugar.m4 -text
m4/ltversion.m4 -text
m4/lt~obsolete.m4 -text
/qd-config.in -text
src/Makefile -text
src/Makefile.am -text
src/Makefile.in -text
src/bits.cpp -text
src/c_dd.cpp -text
src/c_qd.cpp -text
src/dd_const.cpp -text
src/dd_real.cpp -text
src/dd_real.cpp.orig -text
src/fpu.cpp -text
src/qd_const.cpp -text
src/qd_real.cpp -text
src/util.cpp -text
src/util.h -text
tests/Makefile -text
tests/Makefile.am -text
tests/Makefile.in -text
tests/c_test.c -text
tests/coeff.dat -text
tests/compileExample.cpp -text
tests/f_test -text
tests/f_test.f -text
tests/huge.cpp -text
tests/makeCompileExample -text
tests/pslq.h -text
tests/pslq_test.cpp -text
tests/qd_test.cpp -text
tests/qd_timer.cpp -text
tests/quadt.h -text
tests/quadt_test.cpp -text
tests/tictoc.cpp -text
tests/tictoc.h -text
